<!-- Footer -->
<footer class="page-footer mt-4">

  <!-- Footer Elements
  <div class="container">
<div class="row">
 <div class="col-md-12">
        <div class="mb-5 flex-center">
Stuff goes here         
        </div>
      </div>      
    </div>
  </div>
  Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright
    <a class="footer-copyright" href="https://inkmeat.com"> InkMeat.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->