<footer class="page-footer mt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center">
            <svg class="icon" width="2em" height="2em">
                <use xlink:href="/assets/symbol-defs.svg#icon-envelop"></use>
            </svg>
            <svg class="icon" width="2em" height="2em">
                <use xlink:href="/assets/symbol-defs.svg#icon-facebook2"></use>
            </svg>
            <svg class="icon" width="2em" height="2em">
                <use xlink:href="/assets/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2018 Copyright
    <a class="footer-copyright" href="https://inkmeat.com"> InkMeat.com</a>
  </div>

</footer>
