<form class="form-group" [formGroup]="clientFormGroup" (ngSubmit)="onSubmit()">
  <div class="row client-row">
    <div class="col col-lg-6 col-md-8 col-sm-10 col-xs-10">

      <div class="section">
        <div class="sectionTitle">New Client</div>
        <label for="name">Name</label>
        <div>
          <input type="text" formControlName="name" class="form-control" required/>

          <div *ngIf="clientFormGroup.controls['name'].invalid && (clientFormGroup.controls['name'].dirty || clientFormGroup.controls['name'].touched)"
            class="alert alert-danger ng-invalid">
            <div *ngIf="clientFormGroup.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" />

          <div *ngIf="clientFormGroup.controls['email'].invalid && (clientFormGroup.controls['email'].dirty || clientFormGroup.controls['email'].touched)"
            class="alert alert-danger ng-invalid">
            <div *ngIf="clientFormGroup.controls['email'].errors.invalidEmail">
              Email is not valid.
            </div>
          </div>
        </div>

        <div>
          <label for="phone">Phone</label>
          <input type="text" formControlName="phone" class="form-control" />

          <div *ngIf="clientFormGroup.controls['phone'].invalid && (clientFormGroup.controls['phone'].dirty || clientFormGroup.controls['phone'].touched)"
            class="alert alert-danger ng-invalid">
            <div *ngIf="clientFormGroup.controls['phone'].errors.invalidPhone">
              Phone is not valid.
            </div>
          </div>
        </div>
      </div>

      <div class="section actions">
        <button type="submit" class="btn btn-primary" [disabled]="!clientFormGroup.valid">Save Client</button>
        <button class="btn btn-light" [routerLink]="['/clients']">Cancel</button>
      </div>
    </div>

  </div>
</form>