<div class="row">
    <div class="col-md-12">
        <div class="media">
            <img id="client-photo" class="mr-3" alt={{client.name}} src={{client.photo}} width="200" />
            <div class="media-body">
                <h5 class="mt-0">
                    {{client.name}}
                </h5>
                <p>
                    <a href="mailto:{{client.email}}">{{client.email}}</a>
                </p>
                <p>
                    <a href="tel:{{client.phone}}">{{client.phone}}</a>
                </p>
                <p>{{client.handle}}</p>
                <p>{{client.styles}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3>Projects</h3>
    <ul id="thumbnailsList">
        <li *ngFor="let project of visibleProjects">
            <!-- the routerLink bind results in a URL path like "/project/3" where 3 is the id value for the client of the *ngFor directive -->
            <a [routerLink]="['/project', project.id]">
                <img src="{{project.image[0]}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>