<form class="form-group" formGroup="clientDetailFormGroup" (ngSubmit)="submit()">
    <div class="row client-row">
        <div class="col col-lg-6 col-md-8 col-sm-10 col-xs-10">

            <div class="section">
                <div *ngIf="isEditable; else readModeTitle" class="sectionTitle">
                    Edit Client Details
                </div>
                <ng-template #readModeTitle>
                    <div class="sectionTitle">Client</div>
                </ng-template>


                <div *ngIf="client?.fields" class="data">
                    <div *ngIf="isEditable; else readModeName">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control" value="{{client.fields.name}}" required>
                        <div *ngIf="clientDetailFormGroup.controls['name'].invalid && (clientDetailFormGroup.controls['name'].dirty || clientDetailFormGroup.controls['name'].touched)"
                            class="alert alert-danger ng-invalid">
                            <div *ngIf="clientDetailFormGroup.controls['name'].errors.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                    <ng-template #readModeName>
                        <div class="clientName">{{client.fields.name}}</div>
                    </ng-template>
                </div>


                <div *ngIf="client?.fields" class="data">
                    <div *ngIf="isEditable; else readModeEmail">
                        <label for="name">Email</label>
                        <input type="text" formControlName="email" class="form-control data" value="{{client?.fields.email}}">

                        <div *ngIf="clientDetailFormGroup.controls['email'].invalid && (clientDetailFormGroup.controls['email'].dirty || clientDetailFormGroup.controls['email'].touched)"
                            class="alert alert-danger ng-invalid">
                            <div *ngIf="clientDetailFormGroup.controls['email'].errors.invalidEmail">
                                Email is not valid.
                            </div>
                        </div>
                    </div>
                    <ng-template #readModeEmail>
                        <div class="clientDetail">
                            <a *ngIf="!isEditable" href="mailto:{{client.fields.email}}">{{client.fields.email}}</a>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="client?.fields" class="data">
                    <div *ngIf="isEditable; else readModePhone">
                        <label for="name">Phone</label>
                        <input type="text" formControlName="phone" class="form-control data" value="{{client.fields.phone}}">

                        <div *ngIf="clientDetailFormGroup.controls['phone'].invalid && (clientDetailFormGroup.controls['phone'].dirty || clientDetailFormGroup.controls['phone'].touched)"
                            class="alert alert-danger ng-invalid">
                            <div *ngIf="clientDetailFormGroup.controls['phone'].errors.invalidPhone">
                                Phone is not valid.
                            </div>
                        </div>
                    </div>
                    <ng-template #readModePhone>
                        <div class="clientDetail">
                            <a *ngIf="!isEditable" href="tel:{{client.fields.phone}}">{{client.fields.phone}}</a>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="section actions">
                <span style="float: right">

                    <!--
                        <button *ngIf="client && !isEditable" routerLink="/project-create{{client.sys.id}}" class="btn btn-primary">Add
                            Project
                        </button>
                    -->
                    <a *ngIf="client && !isEditable" href="/project-create/{{client.sys.id}}" class="btn btn-light">Add Project
                    </a>
                    <button *ngIf="client && !isEditable" (click)="enableEditing();" class="btn btn-light">Edit</button>
                    <button *ngIf="client && !isEditable" (click)="deleteClient(client.sys.id);" class="btn btn-light">Delete</button>

                    <button *ngIf="client && isEditable" (click)="submit();" type="submit" [disabled]="!clientDetailFormGroup.valid || (!clientDetailFormGroup.dirty || !clientDetailFormGroup.touched)"
                        class="btn btn-primary">Save</button>
                    <button *ngIf="client && isEditable" (click)="disableEditing();" class="btn btn-light">Cancel</button>
                </span>
            </div>
        </div>
    </div>
</form>


<div *ngIf="!isEditable" class="row">
    <div class="col">
        <div class="sectionTitle">
            <h5>Projects</h5>
        </div>
    </div>
</div>

<div *ngIf="!isEditable" class="row">
    <div class="col card-columns">
        <div *ngIf="projectCount > 0; else noProjects">
            <div class="card" *ngFor="let project of projects?.items">
                <a href="/project/{{project.sys.id}}">
                    <!-- three options for image to display:
                                    Based on status and image availability 
                                    1) Final - show final image
                                    2) In Progress - show first regular image
                                    3) No images - show placeholder
                                    -->
                    <img *ngIf="project.fields.finalImage; else inProgressBlock" class="card-img-top img-responsive" src="{{project.fields.finalImage.fields.file.url}}"
                        alt="{{project.fields.title}}">
                    <ng-template #inProgressBlock>
                        <img *ngIf="project.fields.assets; else noImage" class="card-img-top img-responsive" src="{{project.fields.assets[0].fields.file.url}}"
                            alt="{{project.fields.title}}">
                    </ng-template>
                    <ng-template #noImage>
                        <img class="card-img-top img-responsive" src="https://via.placeholder.com//200x100?text=No+image+yet" alt="{{project.fields.title}}">
                    </ng-template>

                    <div class="card-body">
                        <div class="card-title">{{project.fields.title}}</div>
                        <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                        <div class="card-text">
                            <small class="text-muted">{{project.fields.status}}</small>
                        </div>
                    </div>
                </a>
            </div>

            <!--
            <div *ngFor="let project of projects?.items">

                <div class="card" *ngIf="project.fields.finalImage; else inProgressBlock">
                    <img class="card-img-top img-responsive" src="{{project.fields.finalImage.fields.file.url}}" alt="{{project.fields.title}}">
                    <div class="card-body">
                        <a routerLink="['/project', project.sys.id]" class="btn btn-primary">{{project.fields.title}}</a>
                        <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                        <div class="card-textr">
                            <small class="text-muted">{{project.fields.status}}</small>
                        </div>
                    </div>
                </div>

                <ng-template #inProgressBlock>
                    <div class="card" *ngIf="project.fields.assets; else noImage">
                        <img class="card-img-top img-responsive" src="{{project.fields.assets[0].fields.file.url}}" alt="{{project.fields.title}}">
                        <div class="card-body">
                            <a routerLink="['/project', project.sys.id]" class="btn btn-primary">{{project.fields.title}}</a>
                            <h5 class="card-title">{{project.fields.title}}</h5>
                            <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                            <div class="card-textr">
                                <small class="text-muted">{{project.fields.status}}</small>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noImage>
                    <div class="card">
                        <img class="card-img-top img-responsive" src="https://via.placeholder.com//200x100?text=No+image+yet" alt="{{project.fields.title}}">
                        <div class="card-body">
                            <a routerLink="['/project', project.sys.id]" class="btn btn-primary">{{project.fields.title}}</a>
                            <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                            <div class="card-textr">
                                <small class="text-muted">{{project.fields.status}}</small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>

            -->
        </div>

        <ng-template #noProjects>
            <p>No projects yet...</p>
        </ng-template>
    </div>
</div>