<form class="form-group" [formGroup]="artistDetailFormGroup" (ngSubmit)="submit()">
  <div class="row artist-row">
      <div class="col col-lg-6 col-md-8 col-sm-10 col-xs-10">

          <div class="section">
              <div *ngIf="isEditable; else readModeTitle" class="sectionTitle">
                  Edit Artist Details
              </div>
              <ng-template #readModeTitle>
                  <div class="sectionTitle">Artist</div>
              </ng-template>


              <div *ngIf="artist?.fields" class="data">
                  <div *ngIf="isEditable; else readModeEmail">
                      <label for="name">Email</label>
                      <input type="text" formControlName="email" class="form-control" value="{{artist.fields.email}}"
                          required>

                      <div *ngIf="artistDetailFormGroup.controls['email'].invalid && (artistDetailFormGroup.controls['email'].dirty || artistDetailFormGroup.controls['email'].touched)"
                          class="alert alert-danger ng-invalid">
                          <div *ngIf="artistDetailFormGroup.controls['email'].errors.required">
                              Email is required.
                          </div>
                      </div>
                  </div>
                  <ng-template #readModeEmail>
                      <div class="artistEmail">{{artist.fields.email}}</div>
                  </ng-template>
              </div>

              <div *ngIf="artist?.fields" class="data">
                  <div *ngIf="isEditable; else readModeFirstName">
                      <label for="name">First Name</label>
                      <input type="text" formControlName="firstName" class="form-control data"
                          value="{{artist?.fields.firstName}}">

                  </div>
                  <ng-template #readModeFirstName>
                      <div class="artistDetail">
                          <a *ngIf="!isEditable" class="link"
                              href="mailto:{{artist.fields.firstName}}">{{artist.fields.firstName}}</a>
                      </div>
                  </ng-template>
              </div>

              <div *ngIf="artist?.fields" class="data">
                  <div *ngIf="isEditable; else readModeLastName">
                      <label for="name">Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control data"
                          value="{{artist?.fields.lastName}}">

                  </div>
                  <ng-template #readModeLastName>
                      <div class="artistDetail">
                          <a *ngIf="!isEditable" class="link"
                              href="mailto:{{artist.fields.lastName}}">{{artist.fields.lastName}}</a>
                      </div>
                  </ng-template>
              </div>

              <div class="artistDetail">
                  <div>{{artist.fields.firebaseId}}</div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-6 col-sm-12">
      <div class="section actions">
          <span>
              <a *ngIf="artist && !isEditable" href="/client-create/{{artist.sys.id}}" class="btn btn-light">Add
                  Client
              </a>
              <button *ngIf="artist && !isEditable" (click)="enableEditing();" class="btn btn-light">Edit</button>
              <button *ngIf="artist && !isEditable" (click)="deleteArtist(artist.sys.id);"
                  class="btn btn-light">Delete</button>

              <button *ngIf="artist && isEditable" (click)="submit();" type="submit"
                  [disabled]="!artistDetailFormGroup.valid || (!artistDetailFormGroup.dirty || !artistDetailFormGroup.touched)"
                  class="btn btn-primary">Save</button>
              <button *ngIf="artist && isEditable" (click)="disableEditing();" class="btn btn-light">Cancel</button>
          </span>
      </div>
  </div>
</form>


<div *ngIf="!isEditable" class="row">
  <div class="col">
      <div class="sectionTitle">
          <h5>Clients</h5>
      </div>
  </div>
</div>

<div *ngIf="!isEditable" class="row">
  <div class="col card-columns">
      <div *ngIf="clientCount > 0; else noClients">
          <div class="card" *ngFor="let client of clients?.items">
              <span [routerLink]="['/client/' + client.sys.id]">
                  <div class="card-body">
                      <div class="card-title">{{client.fields.name}}</div>
                      <div class="card-text">{{client.fields.phone}}</div>
                      <div class="card-text">{{project.fields.email}}</div>
                  </div>
              </span>
          </div>
      </div>

      <ng-template #noClients>
          <p>No clients yet...</p>
      </ng-template>
  </div>
</div>