<div class="row">
    <div class="col">
        <div class="section">
            <div class="sectionTitle">Clients</div>
        </div>
    </div>
    <div class="col">
        <div class="section">
            <span style="float: right">
                <span class="btn-light py-2 px-2" routerLink="/client-create">Add</span>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="section searchSection text-center">
            <span class="searchResults">
                <input type="search" class="input" (keydown)="onSearchKeydown($event)" placeholder="search here">
                {{nowShowing}}
                <a *ngIf="query != ''" routerLink="/clients">
                    <svg class="icon ml-1" width="1em" height="1em">
                        <use xlink:href="/assets/symbol-defs.svg#icon-cancel-circle"></use>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="row" *ngIf="errorMessage != ''">
    <div class="col">
        <h5 class="text-center">{{errorMessage}}</h5>
    </div>
</div>

<div class="row">
    <div class="col card-columns">
        <div *ngFor="let client of clients?.items">
            <div class="card">
                <div class="card-body">
                    <span class="card-title" [routerLink]="['/client/' + client.sys.id]">{{ client.fields.name }}</span>
                    <a *ngIf="client.fields.email" class="card-text ml-2" href="mailto:{{client.fields.email}}">{{
                        client.fields.email
                        }}
                    </a>
                    <a *ngIf="client.fields.phone" class="card-text ml-2" href="tel:{{client.fields.phone}}">{{
                        client.fields.phone
                        }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5 class="searchResults">{{nowShowing}}</h5>
        <button *ngIf="skip > 0" (click)="prevPage();" onClick="window.scrollTo(0,0);" class="btn btn-light">Previous</button>
        <button *ngIf="(skip + limit) <= total" (click)="nextPage();" onClick="window.scrollTo(0,0);" class="btn btn-light">Next</button>
    </div>
</div>