.btn-light {
    /* tweaking the default Bootstrap style */
    background-color: #87bbf0;
}

.card-body a, .card-body h5 {
    color: inherit;
    cursor: pointer;
    display: block;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}