<div class="nav-row mb-4">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                <a class="logo" routerLink="/">
                    <img alt="Dreamcatcher Home" height="32" width="32" src="../../assets/logo/dreamcatcher.svg">
                </a>
            </div>

            <div *ngIf="!(authService.isAuthenticated() | async); else showLoggedIn">
                <a class="nav-item" routerLink="/login">Login</a>
            </div>
            <ng-template #showLoggedIn>
                <span class="nav-item">
                    <div>
                        <div style="font-size: x-small;">{{currentUser}}</div>
                        <div (click)="tryLogout()" style="font-size: x-small;">Logout</div>
                    </div>
                </span>
                <a class="nav-item" routerLink="/projects">{{projectsTitle}}</a>
                <a class="nav-item" routerLink="/clients">{{clientsTitle}}</a>
            </ng-template>
        </div>
    </nav>
</div>