<div class="nav-row mb-4">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                <a class="logo" routerLink="/">
                    <img alt="Dreamcatcher Home" height="32" width="32" src="../../assets/logo/dreamcatcher.svg">
                </a>
            </div>
            <div>
                <!-- these float right (thanks to nav-item class) so list them in Right-To-Left order-->
                <span class="nav-item" >
                    <div *ngIf="authService.isLoggedIn; else showLogin">
                        <div style="font-size: x-small;">{{ user.displayName }}</div>
                        <div (click)="authService.logout()" style="font-size: x-small;">Logout</div>
                      </div>
                      <ng-template #showLogin>
                        <div routerLink="/login" style="font-size: x-small;">Login</div>
                      </ng-template>
                </span>
                <a class="nav-item" routerLink="/projects">{{projectsTitle}}</a>
                <a class="nav-item" routerLink="/clients">{{clientsTitle}}</a>
            </div>
        </div>
    </nav>
</div>