.searchSection {
    margin-bottom: 1rem;
}

/* we are over-riding these two classes from the global styles.css */
.section {
    padding-bottom: inherit;
}
.sectionTitle {
    margin-bottom: inherit;
}
/* *************************************************************** */


.searchResults {
    font-size: 0.75rem;
}

.btn-light {
    /* tweaking the default Bootstrap style */
    background-color: #87bbf0;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
}

.project-card-link {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}