<div class="row">
    <div class="col">
        <div class="section">
            <div class="sectionTitle">Projects</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="section searchSection text-center">
            <span class="searchResults">
                <input type="search" class="input" (keydown)="onSearchKeydown($event)" placeholder="search here">
                {{nowShowing}}
                <a *ngIf="query != ''" href="/projects">
                    <svg class="icon ml-1" width="1em" height="1em">
                        <use xlink:href="/assets/symbol-defs.svg#icon-cancel-circle"></use>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="row" *ngIf="errorMessage != ''">
    <div class="col">
        <h5 class="text-center">{{errorMessage}}</h5>
    </div>
</div>

<div class="row">
    <div class="col card-columns" id="projects-container">
        <div class="card" *ngFor="let project of projects?.items">
            <a href="/project/{{project.sys.id}}" class="project-card-link">
                <!-- three options for image to display:
                        Based on status and image availability 
                        1) Final - show final image
                        2) In Progress - show first regular image
                        3) No images - show placeholder
                        -->
                <img *ngIf="project.fields.finalImage; else inProgressBlock" class="card-img-top img-responsive" src="{{project.fields.finalImage.fields.file.url}}"
                    alt="{{project.fields.title}}">
                <ng-template #inProgressBlock>
                    <img *ngIf="project.fields.assets; else noImage" class="card-img-top img-responsive" src="{{project.fields.assets[0].fields.file.url}}"
                        alt="{{project.fields.title}}">
                </ng-template>
                <ng-template #noImage>
                    <img class="card-img-top img-responsive" src="https://via.placeholder.com//200x100?text=No+image+yet"
                        alt="{{project.fields.title}}">
                </ng-template>

                <div class="card-body">
                    <!-- TODO: change from BUTTON to LINK-->
                    <div class="card-title">{{project.fields.title}}</div>
                    <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                    <div class="card-text">
                        <small class="text-muted">{{project.fields.status}}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5 class="searchResults" *ngIf="total > 0">{{nowShowing}}</h5>
        <button *ngIf="skip > 0" (click)="prevPage();" onClick="window.scrollTo(0,0);" class="btn btn-light">Previous</button>
        <button *ngIf="(skip + limit) <= total" (click)="nextPage();" onClick="window.scrollTo(0,0);" class="btn btn-light">Next</button>
    </div>
</div>