<h3>{{filterBy | titlecase}} projects</h3>
<div class="row">
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <ul id="thumbnailsList">
        <li *ngFor="let project of ( visibleProjects | projectFilter:filterBy )">
            <a [routerLink] = "['/project', project.id]">
                <!-- the routerLink bind results in a URL path like "/project/3" where 3 is the id value for the project of the *ngFor directive -->
                <img src="{{project.image[0]}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>