<form [formGroup]="loginForm">
  <div class="form-group">
    <label>Email address</label>
    <input type="email" formControlName="email" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">
    <label class="error">{{errorMessage}}</label>
  </div>
  <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
  <button (click)="tryLogout()" class="btn btn-default">Logout</button>
</form>