<h2>{{title}}</h2>
<div class="row">
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='leia'" (click)="filterBy='leia'">Leia</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='murphy'" (click)="filterBy='murphy'">Murphy</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='sheeba'" (click)="filterBy='sheeba'">Sheeba</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy=='zeb'" (click)="filterBy='zeb'">Zeb</button>
    <ul id="thumbnailsList">
        <li *ngFor="let image of ( visibleImages | imageFilter:filterBy )">
            <a [routerLink] = "['/image', image.id]">
                <!-- the routerLink bind results in a URL path like "/image/3" where 3 is the id value for the current image of the *ngFor directive -->
                <img src="{{image.url}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>