.btn-light {
    /* tweaking the default Bootstrap style */
    background-color: #87bbf0;
}

.projectDetail {
    padding-left: 15px;
}

.projectDetail .link {
    color: #4186d1;
    border-bottom: 1px solid;
}

.hidden {
    display: none;
}