/* global styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
}
.main-content {
    color: #333;
    margin-bottom: 85px;
}
label {
    font-size: 0.75rem;
}
.btn-light {
    /* tweaking the default Bootstrap style */
    background-color: #87bbf0;
}
a {
    color: #4186d1;
}


/* FORMS: validation messages */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


/* FORMS: placement, spacing*/
.section {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sectionTitle {
    font-size: larger;
    font-weight: 500;
}

.actions {
    margin-top: 10px;
    margin-left: 15px;
}
.btn {
    margin-right: 10px;
}




