<div class="row">
    <div class="col">
        <div class="section">
            <div class="sectionTitle">Recent Clients</div>
        </div>
    </div>
    <div class="col">
        <div class="section">
            <span style="float: right">
                <button class="btn btn-light" routerLink="/client-create">+</button>
            </span>
        </div>
    </div>
</div>

<div class="row" *ngIf="errorMessageClients != ''">
    <div class="col">
        <h5 class="text-center">{{errorMessageClients}}</h5>
    </div>
</div>

<div class="row" id="client_row">
    <div class="col card-columns">
        <div *ngFor="let client of clients?.items" class="clients_box">
            <div class="card client-card" >
                <div class="card-body">
                    <a class="card-title" href="/client/{{client.sys.id}}">{{ client.fields.name }}</a>
                    <a *ngIf="client.fields.email" class="card-text ml-2" href="mailto:{{client.fields.email}}">{{
                        client.fields.email
                        }}
                    </a>
                    <a *ngIf="client.fields.phone" class="card-text ml-2" href="tel:{{client.fields.phone}}">{{
                        client.fields.phone
                        }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="sectionTitle">Recent Projects</div>
    </div>
</div>

<div class="row" *ngIf="errorMessageProjects != ''">
    <div class="col">
        <h5 class="text-center">{{errorMessageProjects}}</h5>
    </div>
</div>

<div class="row">
    <div class="col card-columns">
        <div *ngFor="let project of projects?.items">
            <a class="card project-card" *ngIf="project.fields.finalImage; else inProgressBlock" href="/project/{{project.sys.id}}">
                <img class="card-img-top img-responsive" src="{{project.fields.finalImage.fields.file.url}}" alt="{{project.fields.title}}">
                <div class="card-body">
                    <h5>{{project.fields.title}}</h5>
                    <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                </div>
            </a>

            <ng-template #inProgressBlock>
                <a class="card project-card" *ngIf="project.fields.assets; else noImage" href="/project/{{project.sys.id}}">
                    <img class="card-img-top img-responsive" src="{{project.fields.assets[0].fields.file.url}}" alt="{{project.fields.title}}">
                    <div class="card-body">
                        <h5>{{project.fields.title}}</h5>
                        <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                    </div>
                </a>
            </ng-template>

            <ng-template #noImage>
                <a class="card project-card" href="/project/{{project.sys.id}}">
                    <img class="card-img-top img-responsive" src="https://via.placeholder.com//200x100?text=No+image+yet"
                        alt="{{project.fields.title}}">
                    <div class="card-body">
                        <h5>{{project.fields.title}}</h5>
                        <p class="card-text">{{project.fields.style}} - {{project.fields.description}}</p>
                    </div>
                </a>
            </ng-template>
        </div>
    </div>
</div>